main {
	width: 100vw;
	height: calc(100vh - #{$navWidth} * 2);
	position: fixed;
	top: $navWidth;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	flex-flow: column;

	button {
		border-radius: 50px;
		background: $c-grey;
		color: $c-white;
		text-transform: capitalize;
		font-family: monospace;
		cursor: pointer;
		&:focus {
			border: none;
		}
	}
}

#visualizer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

#record {
	// position: fixed;
	top: 50vh;
	left: 50%;
	z-index: 200;
	&.rec {
		color: $c-red;
	}
}


#meta {
	font-family: monospace;
	position: fixed;
	bottom: $navWidth;
	color: rgba($c-white, 0.8);
	left: 10px;
	font-size: 12px;
}
